<div class="mt-5">
  <div class="container">
    <button
      class="btn btn-outline-primary mb-5"
      [routerLink]="['/products/0/edit']"
    >
      Add New Products
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quanity</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <i
              [routerLink]="['/products', product.id, 'edit']"
              class="fs-2 mx-1 text-info bi bi-pencil-square"
            ></i>
            <i
              (click)="deleteProductHandler(product.id)"
              class="fs-2 mx-1 text-danger bi bi-trash2-fill"
            ></i>
            <i
              [routerLink]="['/products', product.id]"
              class="fs-2 mx-1 text-primary bi bi-eye-fill"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
