<div class="mt-5">
  <div class="container">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Prouct Name"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text text-danger">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input
          type="number"
          placeholder="Enter Price"
          class="form-control"
          id="exampleInputPassword1"
        />
        <div id="emailHelp" class="form-text text-danger">
          We'll never share your email with anyone else.
        </div>
      </div>

      <button type="submit" class="btn btn-success">Add Products</button>
    </form>
  </div>
</div>
