<div class="mt-5">
  <div class="container">
    <form [formGroup]="myProductForm" (submit)="formOperation($event)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Product Name</label>
        <input
          formControlName="productName"
          type="text"
          class="form-control"
          placeholder="Enter Prouct Name"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Price</label>
        <input
          formControlName="price"
          type="number"
          placeholder="Enter Price"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button type="submit" class="btn btn-success">
        {{ productId != 0 ? "Edit Product" : "Add Product" }}
      </button>
    </form>
  </div>
</div>
